body{
    font: 20px arial, sans-serif;
}
.navbar {
    background-color: #06F941;
}

.quemsomos{
    background-color: #6EB0EE;
    color: white;
}

.parceiros{
    background-color: #7CEB9C;
    color: white;
}

.margin {
    padding-top: 25px;
    padding-bottom: 25px;
}

.arredondado {
    border-radius: 50%; 
    
}

.servicos {
    background-color:#6EB0EE;
    color: white;
}

.bg-footer{
    background-color: rgba(17, 16, 16, 0.623);
    color: white;
}   